<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>
<%= link_to 'Back', articles_path %>